* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 20px 0;
}

.resume {
  display: flex;
  margin: 0 100px 0;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 2px 0px rgba(37, 73, 214, 0.3);
}

.resume__lcolumn {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  width: 25%;
  /* justify-content: space-evenly; */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.image-container img {
  border-radius: 100%;
  box-shadow: 0 0 2px 0px rgba(37, 73, 214, 0.3);
  width: 70%;
}

.basic-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.basic-info__data {
  display: block;
  margin: 5px 0;
}

.basic-info__data img {
  display: block;
  width: 5%;
}

.basic-info__data span {}

.skill-language {
  display: flex;
  flex-direction: column;
}

.skill-language h4 {}

.skill-language span {
  display: block;
  margin: 5px 0;
  /* background-color: #08ffe2; */
}

.skills span {
  background-color: #08ffe2;
  width: fit-content;
  border-radius: 5%;
  padding: 3px;
  box-shadow: 0 0 2px 0px rgba(37, 73, 214, 0.3);
}

.project {}

.education {
  margin-bottom: 25px;
  margin-top: 15px;
}

.bg-color {
  background-color: #08ffe2;
}

.lbase-margin {
  margin-left: 55px;
}

.lsec-margin {
  margin-left: 25px;
}

.fi-margin {
  margin: 5px 0 0 5px;
}

.bbase-margin {
  margin-bottom: 15px;
}

.resume__rcolumn {
  width: 75%;
  /* background-color: blue; */
  padding-left: 55px;
  padding-top: 25px;
  padding-right: 55px;
}

.tb-base-padding {
  padding: 10px 0px 10px;
}

.right-column-basic-info {
  margin-bottom: 15px;
}

h4 {
  color: #30dbc7;
}

h3 {
  color: #30dbc7;
}